{% extends 'vet/create_examine_vet.html' %}
{% load static %}

{% block extra_css %}
  <style>
    .layout-update-petImg {
      position: fixed;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 10px;
      width: 40%;
      height: 60%;
      border-radius: 78px 78px 78px 78px;
      -moz-border-radius: 78px 78px 78px 78px;
      -webkit-border-radius: 78px 78px 78px 78px;
      border: 8px inset #cccccc;
      background-color: #75eff5;
      place-content: center;
    }
    .modal-nd-update1 {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-rows: 1fr 3fr 1fr;
    }
  </style>
{% endblock %}
{% block pet_registration_image %}
  <div style="width: 100%; height: 100%;">
    <div class="layout-update-petImg">
      <form method="POST" class="modal-nd-update1">
        {% csrf_token %}
        <div style="text-align: center;">
          <span style="border-radius: 109px; border: 9px solid rgb(0, 0, 0);">Điền thông tin hồ sơ nhập viện</span>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 3fr;">
          <div>
            <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
          </div>
          <div>{{ form.start_date }}</div>
          <div>
            <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
          </div>
          <div>{{ form.end_date }}</div>
          <div>
            <label for="{{ form.symptom.id_for_label }}">{{ form.symptom.label }}</label>
          </div>
          <div>{{ form.symptom }}</div>
        </div>
        <div style="text-align: center;">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
