{% extends 'customer/index.html' %}
{% load static %}
{% block appointment_registration %}
  <div class="layout-appointment-registration">
    <div class="title-appointment-registration">
      <a href="{% url 'pet_registration' %}" class="addBtn-title-appointment-registration">Thêm thú cưng</a>
      <div class="title-title-appointment-registration">
        <p class="layout-right" style="font-size: 22px; width: fit-content; margin-left: 110px; ">Chọn thú cưng để đăng ký</p>
      </div>
    </div>
    <div class="lay-out-content-appointment-registrantion">
      <div class="content-apointment-registration">
        <div class="title-content-appointment-registration">
          <p style="align-self: center; justify-self: center;">Ảnh</p>
          <p style="align-self: center; justify-self: center;">Tên</p>
          <p style="align-self: center; justify-self: center;">Loại</p>
          <p style="align-self: center; justify-self: center;">Tuổi</p>
        </div>

        <div class="content-content-appointment-registration">
          <div class="item-content-content-appointment-registration">
            {% for pet in pets %}
              <div>
                <a href="{% url 'booking_date' pet.id %}">
                  {% if pet.images %}
                    <img class="pet-img" src="{{ pet.images.url }}" alt="pet pic" />
                  {% else %}
                    <img class="pet-img" src="{% static 'images/default_pet.jpg' %}" alt="default pet pic" />
                  {% endif %}
                </a>
              </div>

              <div>
                <a href="{% url 'booking_date' pet.id %}" style=" text-decoration: none;">{{ pet.name_pet }}</a>
              </div>
              <div>
                {% if pet.pet_type %}
                  <p>{{ pet.pet_type }}</p>
                {% else %}
                  <p>Không có thông tin</p>
                {% endif %}
              </div>
              <div>
                {% if pet.age %}
                  <p>{{ pet.age }}</p>
                {% else %}
                  <p>Không có thông tin</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
