{% extends 'customer/index.html' %}
{% load static %}
{% block home_customer %}
  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success" id="modalLabel">Thông báo</h5>
        </div>
        <div class="modal-body">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div style=" 
  display: grid;
  grid-template-columns: 1fr 1fr;
  height:100%;
  ">
    <div style="display: grid; grid-template-rows: 1fr 1fr;">
      <div style="
      height: 50%; 
      display: grid; 
      grid-template-columns: 1fr 1fr; 
      ">
        <div class="layout">
          <a href="{% url 'profile_customer' %}"><img style="width: 200px;; height: auto;" src="{% static 'images/profile.png' %}" alt="This is profile pic" /></a>
          <p class="layout-text">Tài khoản</p>
        </div>
        <div class="layout">
          {% if pets %}
            <a href="{% url 'appointment_registration' %}"><img style="width: 200px; height: auto; margin-top: 25px; margin-left: 60px;" src="{% static 'images/sign.png' %}" alt="This is appointment registration pic" /></a>
          {% else %}
            <a href="{% url 'pet_registration' %}"><img style="width: 200px; height: auto; margin-top: 25px; margin-left: 60px;" src="{% static 'images/sign.png' %}" alt="This is appointment registration pic" /></a>
          {% endif %}
          <p class="layout-text" style="margin-bottom: 40px;">Đăng ký lịch khám</p>
        </div>
      </div>
      <div class="layout">
        <a href="{% url 'pick_pet_review' %}"><img style="width: 200px; height: auto;" src="{% static 'images/rating.png' %}" alt="This is rating pic" /></a>
        <p class="layout-text">Đánh giá</p>
      </div>
    </div>
    <div style="width: 100%;">
      <div style="width: 100% ;height: 10%; ">
        <p class="layout-right" style="font-size: 24px;  width: fit-content; place-self: center;">Danh sách thú cưng</p>
      </div>
      <div class="layout-right" style="width: 90%; height: 85%; margin-left: 50px;">
        <div id="title-showpet-home-customer">
          <p>Ảnh</p>
          <p>Tên</p>
          <p>Chủng loại</p>
          <p>Tuổi</p>
        </div>
        <div id="content-showpet-home-customer">
          {% if pets %}
            {% for pet in pets %}
              <a href="{% url 'petInf_customer' pet.id %}" id="item-content-showpet-home-customer" style="margin-bottom: 10px;">
                <img class="pet-img"
                  src="{% if pet.images %}
                    {{ pet.images.url }}
                  {% else %}
                    {% static 'images/default_pet.jpg' %}
                  {% endif %}" />

                <div>
                  {% if pet.name_pet %}
                    {{ pet.name_pet }}
                  {% else %}
                    Hong có thông tin
                  {% endif %}
                </div>

                <div>
                  {% if pet.species %}
                    {{ pet.species }}
                  {% else %}
                    Hong có thông tin
                  {% endif %}
                </div>

                <div>
                  {% if pet.age %}
                    {{ pet.age }}
                  {% else %}
                    Hong có thông tin
                  {% endif %}
                </div>
              </a>
            {% endfor %}
          {% else %}
            <h4 style="width: fit-content; justify-self: center">Bạn chưa có thú cưng. Vào đăng kí nhanh nào!</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if messages %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var modal = new bootstrap.Modal(document.getElementById('successModal'))
        modal.show()
        setTimeout(() => modal.hide(), 5000) // Tự động ẩn sau 2 giây
      })
    </script>
  {% endif %}
{% endblock %}
