{% extends 'customer/index.html' %}
{% load static %}
{% block profile_customer %}
  <div id="editModal-updateInf" class="modal-updateInf">
    <div class="modal-nd-updateInf">
      <div class="modal-close-item-updateInf">
        <span class="close-updateInf">&times;</span>
      </div>
      <div style="color: black;" class="modal-title-item-updateInf">Cập nhật thông tin</div>
      <div class="modal-address-item-updateInf">
        <label style="color: black;" for="address">Địa chỉ:</label>
        <input style="width: 175px;" type="text" id="address" name="address" required />
      </div>

      <div class="modal-phone-item-updateInf">
        <label style="color: black;" for="phone">Số điện thoại :</label>
        <input style="width: 175px;" type="text" id="phone" name="phone" required />
      </div>

      <input type="hidden" id="csrfToken-inf" value="{{ csrf_token }}" />

      <div class="modal-save-item-updateInf">
        <button id="saveBtn-updateInf">Lưu thay đổi</button>
      </div>
    </div>
  </div>
  <div id="editModal-updateImg" class="modal-updateImg">
    <div class="modal-nd-updateImg">
      <div class="modal-close-item-updateImg">
        <span class="close-updateImg">&times;</span>
      </div>
      <div class="modal-updateImg-uploadLabel">
        <label for="imageUpload" class="upload-label" style="color: black;">Tải ảnh lên:</label>
      </div>
      <input class="modal-uploadImg-iamgeUpload" type="file" id="imageUpload" name="image" accept="image/*" />
      <div class="modal-uploadImg-bntSave">
        <button class="btn-save-Customer">Tải lên</button>
      </div>
      <input type="hidden" id="csrfToken-img" value="{{ csrf_token }}" />
    </div>
  </div>
  <div style="display: flex; justify-content: center; width: 100%; height: 100vh;">
    <div class="layout-right" style="width: 50%; height: 80%; display: flex; align-items: center; place-self:center;">
      {% block content_profile %}
        <div class="container-profile">
          <div class="item-images-profile item-profile">
            {% if customer.images %}
              <img class="avatar-profile" src="{{ customer.images.url }}" alt="This is profile pic" />
              <button class="layout-right" id="editBtn-updateImg">Tải ảnh lên</button>
            {% else %}
              <img class="avatar-profile" src="{% static 'images/avatar_default.png' %}" alt="This is profile pic" />
              <button class="layout-right" id="editBtn-updateImg">Tải ảnh lên</button>
            {% endif %}
          </div>
          <div class="item-text1-profile item-text-profile">
            <p>Tên đăng nhập : {{ customer.name_customer }}</p>
          </div>
          <div class="item-text2-profile item-text-profile">
            <p>Email : {{ customer.email_customer }}</p>
          </div>
          <div class="item-text3-profile item-text-profile">
            <p>
              Địa chỉ :{% if customer.address %}
                {{ customer.address }}
              {% else %}
                <span class="text-muted">Không có thông tin</span>
              {% endif %}
            </p>
          </div>
          <div class="item-text4-profile item-text-profile">
            <p>
              Số điện thoại :{% if customer.phone_number_customer %}
                {{ customer.phone_number_customer }}
              {% else %}
                <span class="text-muted">Không có thông tin</span>
              {% endif %}
            </p>
          </div>
          <div class="item-text5-profile item-text-profile">
            <p>Số lượng thú cưng : {{ pet_count }}</p>
          </div>
          <div class="item-text6-profile item-text-profile">
            <button class="layout-right" id="editBtn-updateInf">Cập nhật thông tin</button>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
  <script src="{% static 'js/updateInf.js' %}"></script>
  <script src="{% static 'js/updateImg.js' %}"></script>
{% endblock %}
