{% load static %}
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="color: aqua;">Pet Health Care System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header style="height: 20%;">
      <div style="background-image: url('{% static 'images/pet.png' %}');
                  background-size: cover; 
                  background-position: center;
                  width: 100%; 
                  height: 100%; 
                  display: grid; 
                  place-items: center;">
        <div style="display: flex; width: 100%; margin-top: 10px; ">
          <div style="display: flex; gap: 10px; width: 50%; 
                    {% if request.path == '/home_customer/' %}visibility: hidden;{% endif %}">
            <a href="javascript:window.history.back()"><img style="width: 60px; height:auto; margin-left: 10px; " src="{% static 'images/back.png' %}" alt="back button" /></a>
            <a href="{% url 'home_customer' %}"><img style="width: 60px; height:auto;" src="{% static 'images/home.png' %}" alt="home button" /></a>
          </div>
          <div style="width: 50%; display: flex; justify-content: flex-end;">
            <a href="{% url 'logout' %}" onclick="return confirmLogout();"><img src="{% static 'images/log-out.png' %}" style="width: 60px; height: auto; margin-right: 10px;" alt="log out pic" /></a>
          </div>
        </div>
        <h1 style="color: aqua;">Pet Health Care System</h1>
      </div>
    </header>

    <nav class="navbar"></nav>
    <body style="background-image:url('{% static 'images/background_register.jpg' %}'); background-size: cover;">
      {% block home_staff %}

      {% endblock %}

      <script>
        function confirmLogout() {
          return confirm('Bạn có chắc chắn muốn đăng xuất không?')
        }
      </script>
    </body>

    <footer>&copy; 2025 Trung tâm chăm sóc thú y. Mọi quyền được bảo lưu.</footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
